Repository ekryshen/mpdroot, changes with the owners that CODEOWNERS names for each.
All owners: @hnatics, @zinchenk, @abychkov, @nlashmanov, @boiana2012, @Wielanek, @vkondrat, @lobastov, @marina, @amudrokh, @gnigmat, @busa

CODEOWNERS:

# Allowed line format:
# 0. Empty and commented lines
# 1. <path ending with />  @owner_1 @owner_2     @owner_N
#    Example: /scripts/ @roleg @hnatics
#    Ending a path in a `/` will specify the code owners for every file nested in that directory, on any level

# Default (project) owner
#----------------------------------------------------------------------------------
/                                        @roleg 


# System
#----------------------------------------------------------------------------------
/scripts/                                @hnatics 


# Detectors
#----------------------------------------------------------------------------------
# TPC
/detectors/tpc/                          @zinchenk  @abychkov
/detectors/tpc/clusterHitFinder/         @hnatics

# FFD
/detectors/ffd/                          @nlashmanov

# EMC
/detectors/emc/                          @boiana2012

# MCORD
/detectors/mcord/                        @Wielanek

# STS  (ITS)
/detectors/sts/                          @vkondrat

# TOF
/detectors/tof/                          @lobastov

# ZDC  (FHCAL)
/detectors/zdc/                          @marina 


# Reconstruction
#----------------------------------------------------------------------------------
/reconstruction/tracking/kalman/         @zinchenk

/core/mpdPid/                            @zinchenk @amudrokh


# Analysis
#----------------------------------------------------------------------------------
/core/mpdDst/MpdMiniEvent/               @gnigmat


# Database
#----------------------------------------------------------------------------------
/tools/database/                         @busa


# Documentation
#----------------------------------------------------------------------------------
/tools/documentation/                    @busa


# TDD toolkit
#----------------------------------------------------------------------------------
/tools/tdd/                              @hnatics

inserting interface layer between FairTask and MpdTpcClusterFinderMlem (now TpcClusterHitFinderMlem)
  detectors/tpc/CMakeLists.txt
  detectors/tpc/clusterHitFinder/TpcClusterHitFinderMlem.cxx
  detectors/tpc/clusterHitFinder/TpcClusterHitFinderMlem.h
  detectors/tpc/tpcLinkDef.h
Owners: @zinchenk, @abychkov, @hnatics

adapting TpcClusterHitFinderMlem to interface
  detectors/tpc/clusterHitFinder/AbstractTpcClusterHitFinder.cxx
  detectors/tpc/clusterHitFinder/AbstractTpcClusterHitFinder.h
  detectors/tpc/clusterHitFinder/TpcClusterHitFinderMlem.cxx
  detectors/tpc/clusterHitFinder/TpcClusterHitFinderMlem.h
Owners: @hnatics

Added support for VMC.
  cmake/CMakeLists.cmake
  cmake/modules/FindEigen3.cmake
  cmake/modules/FindFMT.cmake
  cmake/modules/FindVMC.cmake
Owners: none

Fixed approach in handling missing VMC
  cmake/CMakeLists.cmake
Owners: none

remove unused junk files
  detectors/tpc/CMakeLists.txt
  detectors/tpc/MpdTpcHit.cxx
  detectors/tpc/TpcCommon.h
  detectors/tpc/TpcTimeBin.cxx
  detectors/tpc/legacy/TpcCluster.cxx
Owners: @zinchenk, @abychkov

move unused files to legacy
  detectors/tpc/CMakeLists.txt
  detectors/tpc/legacy/TpcContFact.cxx
  detectors/tpc/legacy/TpcContFact.h
  detectors/tpc/legacy/TpcTimeBin.h
Owners: @zinchenk, @abychkov

fix for MPDRoot compatible with FairRoot v18-6-8, already in mpddev module
  cmake/CMakeListsDefaults.cmake
Owners: none

Bump minimal required version for CMake to 3.20 in order to use cmake_path command
  cmake/CMakeLists.cmake
Owners: none

simple syntax optimizations in getcij method - findHits() performance speedup of 6-7 percent - results double checked for identity
  detectors/tpc/clusterHitFinder/TpcClusterHitFinderMlem.cxx
  tools/tdd/detectors/tpc/reco_identity.sh
Owners: @hnatics

removal of config dir from dev branch
  cmake/CMakeLists.cmake
  config/rootmanager.dat
  env.sh
Owners: none

Resolve "Automatically load geant4 (or geant3) libraries"
  gconfig/basiclibs.C
  gconfig/g3libs.C
  gconfig/g4libs.C
Owners: none

Resolve "Invalid MpdTpcDigit branch in root files"
  detectors/tpc/MpdTpcDigit.cxx
  detectors/tpc/MpdTpcDigit.h
  macros/common/runReco.C
Owners: @zinchenk, @abychkov

remove old unsupported install
  README.md
  SetEnv.sh
  scripts/install_fair_mpdroot.sh
Owners: @hnatics

Implement gitmailmap
  .mailmap
  cmake/CMakeLists.cmake
  scripts/env.sh
Owners: @hnatics

cosmetics of .mailmap file
  .mailmap
Owners: none

updating pre-commit hook script
  scripts/pre-commit
Owners: @hnatics

remove PROOF
  gconfig/libMpdRoot.par
  macro/mpd/CMakeLists.txt
  macro/mpd/reco.C
  macro/mpd/recoTPC.C
  macro/profiling/reco.C
  macros/common/runReco.C
Owners: none

remove fluka unused files
  gconfig/flConfig.C
  gconfig/fllibs.C
  gconfig/run_fluka.sh
Owners: none

amend simulation of polarization of Lambda
  gconfig/LambdaDecayConfig.C
  simulation/generators/mpdGen/MpdDecayerPyt8.cxx
  simulation/generators/mpdGen/MpdDecayerPyt8.h
  simulation/generators/mpdGen/MpdLAQGSMGenerator.cxx
  simulation/generators/mpdGen/MpdPHSDGenerator.cxx
  simulation/mcStack/MpdStack.cxx
Owners: none

Correction to path to mpdloadlibs.C
  macro/mpd/geometry/create_rootgeom_zdc_oldnames_7sect_v1_no_overlaps_w_pipe_magnet.C
Owners: none

Added name of file with FHCal modules coordinates
  macro/mpd/reco.C
Owners: none

Added file with FHCal modules coordinates
  input/FHCal_mapping.txt
Owners: none

Changes by V.Riabov for trigger calculations
  detectors/zdc/MpdZdc.cxx
Owners: @marina

Changes by V.Riabov for trigger calculations
  detectors/zdc/MpdZdcPoint.h
Owners: @marina

Changes by V.Riabov for trigger calculations
  detectors/zdc/MpdZdcPoint.cxx
Owners: @marina

Changes by V.Riabov for trigger calculations, added FHCal modules coordinates
  detectors/zdc/MpdZdcDigi.h
Owners: @marina

Changes by V.Riabov for trigger calculations, added FHCal modules coordinates
  detectors/zdc/MpdZdcDigi.cxx
Owners: @marina

Changes by V.Riabov for trigger calculations, added FHCal modules coordinates
  detectors/zdc/MpdZdcDigiProducer.h
Owners: @marina

Changes by V.Riabov for trigger calculations, added FHCal modules coordinates
  detectors/zdc/MpdZdcDigiProducer.cxx
Owners: @marina

Cosmetic changes for files
  detectors/zdc/MpdZdc.cxx
  detectors/zdc/MpdZdcDigi.cxx
  detectors/zdc/MpdZdcDigi.h
  detectors/zdc/MpdZdcDigiProducer.cxx
  detectors/zdc/MpdZdcDigiProducer.h
  detectors/zdc/MpdZdcPoint.cxx
  detectors/zdc/MpdZdcPoint.h
Owners: @marina

Code update to simulate correct trigger signal
  detectors/ffd/MpdFfd.cxx
  detectors/ffd/MpdFfdHit.cxx
  detectors/ffd/MpdFfdHit.h
  detectors/ffd/MpdFfdHitProducer.cxx
  detectors/ffd/MpdFfdHitProducer.h
Owners: @nlashmanov

Code update to simulate correct trigger signal
  detectors/ffd/MpdFfd.cxx
  detectors/ffd/MpdFfdHit.cxx
  detectors/ffd/MpdFfdHit.h
  detectors/ffd/MpdFfdHitProducer.cxx
Owners: @nlashmanov

replace forgotten ifdef by if statement in new runMC
  macros/common/runMC.C
Owners: none

add urqmd generator build tests
  input/tests/urqmd-BiBi-09.5GeV-mb-eos0-2-108.f14.gz
  scripts/run_build_tests.sh
Owners: @hnatics

Resolve "Remove CentOS 8 support"
  .gitlab-ci.yml
Owners: none

add simple T0 to MpdTofHitProducer
  detectors/tof/MpdTofHitProducer.cxx
  detectors/tof/MpdTofHitProducer.h
Owners: @lobastov

amend simulation of polarization of antiLambda
  gconfig/LambdaDecayConfig.C
  simulation/generators/mpdGen/MpdDecayerPyt8.cxx
  simulation/generators/mpdGen/MpdDecayerPyt8.h
Owners: none

:Added TpcAlignment library.
  cmake/CMakeLists.cmake
  detectors/dr.tar.gz
  detectors/tpc/CMakeLists.txt
  detectors/tpc/MpdTpcHit.cxx
  detectors/tpc/TpcCommon.h
  detectors/tpc/TpcContFact.cxx
  detectors/tpc/TpcContFact.h
  detectors/tpc/TpcTimeBin.cxx
  detectors/tpc/TpcTimeBin.h
  detectors/tpc/clusterHitFinder/AbstractTpcClusterHitFinder.cxx
  detectors/tpc/clusterHitFinder/AbstractTpcClusterHitFinder.h
  detectors/tpc/clusterHitFinder/TpcClusterHitFinderMlem.cxx
  detectors/tpc/clusterHitFinder/TpcClusterHitFinderMlem.h
  detectors/tpc/legacy/TpcCluster.cxx
  detectors/tpc/tpcLinkDef.h
  detectors/tpc_alignment/.vscode/settings.json
  detectors/tpc_alignment/Alignment.cxx
  detectors/tpc_alignment/Alignment.h
  detectors/tpc_alignment/CMakeLists.txt
  detectors/tpc_alignment/Debug.cxx
  detectors/tpc_alignment/Debug.h
  detectors/tpc_alignment/FileHelper.cxx
  detectors/tpc_alignment/FileHelper.h
  detectors/tpc_alignment/G.h
  detectors/tpc_alignment/H.h
  detectors/tpc_alignment/Linalg.cxx
  detectors/tpc_alignment/Linalg.h
  detectors/tpc_alignment/Run.cxx
  detectors/tpc_alignment/Run.h
  detectors/tpc_alignment/TpcAlignmentTask.cxx
  detectors/tpc_alignment/TpcAlignmentTask.h
  detectors/tpc_alignment/tpcAlignmentLinkDef.h
  input/InputA.dat
Owners: @zinchenk, @abychkov, @hnatics

Add macro and edit CMakefile for Acts tracking
  cmake/CMakeLists.cmake
  macros/common/trackingActs.C
Owners: none

MpdTpcTracker: moved creation of fRunner from the constructor to Init.
  reconstruction/acts-tracking/MpdTpcTracker.cxx
  reconstruction/acts-tracking/MpdTpcTracker.h
Owners: none
