Repository ekryshen/mpdroot, changes with the owners that CODEOWNERS names for each.
All owners: @roleg, @hnatics, @zinchenk, @abychkov, @nlashmanov, @boiana2012, @Wielanek, @vkondrat, @lobastov, @marina, @amudrokh

Moved etof to the directory detectors
  cmake/CMakeLists.cmake
  cmake/CMakeListsLegacy.cmake
  cmake/modulesLegacy/CreateMpdConfig.cmake
  cmake/modules_new/CreateMpdConfig.cmake
  detectors/etof/CMakeLists.txt
  detectors/etof/MpdEtof.cxx
  detectors/etof/MpdEtof.h
  detectors/etof/MpdEtofContFact.cxx
  detectors/etof/MpdEtofContFact.h
  detectors/etof/MpdEtofGeo.cxx
  detectors/etof/MpdEtofGeo.h
  detectors/etof/MpdEtofGeoPar.cxx
  detectors/etof/MpdEtofGeoPar.h
  detectors/etof/MpdEtofGeoUtils.cxx
  detectors/etof/MpdEtofGeoUtils.h
  detectors/etof/MpdEtofHitProducer.cxx
  detectors/etof/MpdEtofHitProducer.h
  detectors/etof/MpdEtofHitProducerIdeal.cxx
  detectors/etof/MpdEtofHitProducerIdeal.h
  detectors/etof/MpdEtofLinkDef.h
  detectors/etof/MpdEtofMatching.cxx
  detectors/etof/MpdEtofMatching.h
  doxygen/MPDrootDoxy
  etof/MpdEtof.cxx
  etof/MpdEtof.h
  etof/MpdEtofGeoPar.cxx
  etof/MpdEtofGeoPar.h
  etof/MpdEtofGeoUtils.cxx
  etof/MpdEtofGeoUtils.h
  etof/MpdEtofHitProducer.cxx
  etof/MpdEtofHitProducer.h
  etof/MpdEtofHitProducerIdeal.cxx
  etof/MpdEtofMatching.cxx
  etof/MpdEtofMatching.h
  macro/physical_analysis/Flow/create_reduced_tree/rootlogon.C
  macro/physical_analysis/Flow/get_centrality/rootlogon.C
  macro/physical_analysis/Flow/get_dca/rootlogon.C
  macro/physical_analysis/Flow/restore_dca/rootlogon.C
  macro/tof/makefile
  macro/tof/read_MC_DST.cxx
Owners: none

Fixed formatting in bbc detector and added rootlogon.C missing from previous commit.
  detectors/bbc/MpdBbc.cxx
  detectors/bbc/MpdBbcLinkDef.h
  macro/physical_analysis/rootlogon.C
Owners: none

Fixed bmd files according to coding conventions and renamed bmd library to Bmd
  detectors/bmd/BmdDetector.cxx
  detectors/bmd/BmdDetector.h
  detectors/bmd/BmdGeo.cxx
  detectors/bmd/BmdGeo.h
  detectors/bmd/BmdGeoPar.cxx
  detectors/bmd/BmdGeoPar.h
  detectors/bmd/BmdLinkDef.h
  detectors/bmd/BmdPoint.cxx
  detectors/bmd/BmdPoint.h
  detectors/bmd/CMakeLists.txt
Owners: none

Moved ffd to the directory detectors.
  cmake/CMakeLists.cmake
  cmake/CMakeListsLegacy.cmake
  cmake/modulesLegacy/CreateMpdConfig.cmake
  cmake/modules_new/CreateMpdConfig.cmake
  detectors/ffd/CMakeLists.txt
  detectors/ffd/MpdFfd.cxx
  detectors/ffd/MpdFfd.h
  detectors/ffd/MpdFfdContFact.cxx
  detectors/ffd/MpdFfdContFact.h
  detectors/ffd/MpdFfdGeo.cxx
  detectors/ffd/MpdFfdGeo.h
  detectors/ffd/MpdFfdGeoPar.cxx
  detectors/ffd/MpdFfdGeoPar.h
  detectors/ffd/MpdFfdHit.cxx
  detectors/ffd/MpdFfdHit.h
  detectors/ffd/MpdFfdHitProducer.cxx
  detectors/ffd/MpdFfdHitProducer.h
  detectors/ffd/MpdFfdLinkDef.h
  detectors/ffd/MpdFfdPoint.cxx
  detectors/ffd/MpdFfdPoint.h
  doxygen/MPDrootDoxy
  ffd/MpdFfd.cxx
  ffd/MpdFfd.h
  ffd/MpdFfdContFact.cxx
  ffd/MpdFfdContFact.h
  ffd/MpdFfdGeo.cxx
  ffd/MpdFfdGeo.h
  ffd/MpdFfdGeoPar.cxx
  ffd/MpdFfdGeoPar.h
  ffd/MpdFfdHit.h
  ffd/MpdFfdHitProducer.cxx
  ffd/MpdFfdHitProducer.h
  ffd/MpdFfdPoint.cxx
  ffd/MpdFfdPoint.h
  macro/tof/makefile
Owners: @nlashmanov

Moved mcord to directory detectors
  cmake/CMakeLists.cmake
  cmake/CMakeListsLegacy.cmake
  detectors/ffd/CMakeLists.txt
  detectors/mcord/CMakeLists.txt
  detectors/mcord/McordLinkDef.h
  detectors/mcord/MpdMcord.cxx
  detectors/mcord/MpdMcord.h
  detectors/mcord/MpdMcordContFact.cxx
  detectors/mcord/MpdMcordContFact.h
  detectors/mcord/MpdMcordGeo.cxx
  detectors/mcord/MpdMcordGeo.h
  detectors/mcord/MpdMcordGeoPar.cxx
  detectors/mcord/MpdMcordGeoPar.h
  detectors/mcord/MpdMcordPoint.cxx
  detectors/mcord/MpdMcordPoint.h
  doxygen/MPDrootDoxy
  mcord/MpdMcord.cxx
  mcord/MpdMcord.h
  mcord/MpdMcordContFact.cxx
  mcord/MpdMcordGeo.cxx
  mcord/MpdMcordGeo.h
  mcord/MpdMcordGeoPar.cxx
  mcord/MpdMcordGeoPar.h
  mcord/MpdMcordPoint.cxx
Owners: @Wielanek

CODEOWNERS:

# Allowed line format:
# 0. Empty and commented lines
# 1. <path ending with />  @owner_1 @owner_2     @owner_N
#    Example: /scripts/ @roleg @hnatics
#    Ending a path in a `/` will specify the code owners for every file nested in that directory, on any level

# Default (project) owner
#----------------------------------------------------------------------------------
/                              @roleg 


# System
#----------------------------------------------------------------------------------
/scripts/                      @roleg @hnatics 


# Detectors
#----------------------------------------------------------------------------------
# TPC
/tpc/                          @zinchenk  @abychkov

# FFD
/ffd/                          @nlashmanov

# EMC
/detectors/emc/                          @boiana2012

# MCORD
/mcord/                        @Wielanek

# STS  (ITS)
/sts/                          @vkondrat

# TOF
/tof/                          @lobastov

# ZDC  (FHCAL)
/zdc/                          @marina 


# Reconstruction
#----------------------------------------------------------------------------------
/kalman/                       @zinchenk

/mpdpid/                       @zinchenk @amudrokh


# Analysis
#----------------------------------------------------------------------------------



# QA
#----------------------------------------------------------------------------------
